name: CI Pipeline

on:
  push:
    branches: main

jobs:
  build:
    name: Build & Test
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: order-service

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 11
        uses: actions/setup-java@v4
        with:
          java-version: '11'
          distribution: 'temurin'
          cache: maven

      # 1. Tests unitaires
      - name: Run unit tests
        run: mvn clean test

      # 2. Qualité de code
      - name: Run Checkstyle
        run: mvn checkstyle:check

      - name: Run SpotBugs
        run: mvn spotbugs:check

      # 3. Tests d'intégration
      - name: Run integration tests
        run: mvn failsafe:integration-test failsafe:verify
