name: CI Pipeline

on:
  push:
    branches: main

jobs:
  # Job 1 : Tests unitaires
  unit-tests:
    name: Unit Tests
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: order-service

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 11
        uses: actions/setup-java@v4
        with:
          java-version: '11'
          distribution: 'temurin'
          cache: maven

      - name: Run unit tests
        run: mvn clean test

  # Job 2 : Qualité de code
  quality:
    name: Code Quality
    runs-on: ubuntu-latest
    needs: unit-tests
    defaults:
      run:
        working-directory: order-service

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 11
        uses: actions/setup-java@v4
        with:
          java-version: '11'
          distribution: 'temurin'
          cache: maven

      - name: Run Checkstyle
        run: mvn checkstyle:check

      - name: Run SpotBugs
        run: mvn spotbugs:check

  # Job 3 : Tests d'intégration
  integration-tests:
    name: Integration Tests
    runs-on: ubuntu-latest
    needs: quality
    defaults:
      run:
        working-directory: order-service

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 11
        uses: actions/setup-java@v4
        with:
          java-version: '11'
          distribution: 'temurin'
          cache: maven

      - name: Run integration tests
        run: mvn failsafe:integration-test failsafe:verify
