name: CI Pipeline

on:
  push:
    branches: main

jobs:
  unit-tests:
    name: Test unit
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: order-service

    steps:
      - uses: actions/checkout@v5
      - name: Set up JDK 11 for x64
        uses: actions/setup-java@v4
        with:
          java-version: '11'
          distribution: 'temurin'
          architecture: x64

      - name: Run unit tests
        run: mvn clean test

